* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topBar ul {
  background-color: #272a31;
  padding: 10px 0;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: flex-end;
  list-style: none;
  position: fixed;
  top: 0;
  z-index: 5;
  padding-right: 130px;
  height: 30px;
}

.topBar a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.navbar-brand > img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
}

.navbar {
  box-shadow: 0 15px 10px -15px #111;
  margin-top: 30px;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
}

.header {
  background: url('./images/headerBg.avif') no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

.header.about h2 {
  background-image: url('./images/textBgAbout.webp') !important;
  background-repeat: repeat;
  color: #000;
}

#header h2 {
  padding-top: 120px;
  background-image: url('./images/textBg.jpg');
  background-position: center center;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

#header h3 {
  color: #fff;
  background: rgba(0, 0, 0, 0.397);
  bottom: 20px;
  padding: 20px;
  width: 80%;
}

footer p {
  font-size: 0.9rem;
  width: 70%;
  margin-bottom: 0;
}

.header.about p {
  margin: 0 auto;
}

#header p {
  color: #fff;
  background: rgba(0, 0, 0, 0.397);
  bottom: 20px;
  padding: 20px;
  width: 80%;
}

.card-group {
  column-gap: 8px;
  margin-bottom: 80px;
}

.card {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.199);
  padding: 8px 16px;
  max-width: 540px;
}

#main .card .card-title {
  color: #ec5242;
}

#main .card p {
  color: #fff;
}

.images img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.footer-bottom img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.header.about img {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

#main .card img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

#main {
  background: url('./images/main-background-icon.PNG');
  text-align: center;
  padding-bottom: 80px;
}

#main h2 {
  color: #fff;
  padding-top: 80px;
  text-align: center;
}

.line {
  margin: 0 auto;
  width: 100px;
  margin-top: 12px;
  height: 2px;
  background-color: #ec5242;
  border-radius: 8px;
  margin-bottom: 80px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.footer-bottom p a {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

#main > .container > a {
  color: #fff;
}

#mentors .card {
  border: none;
  text-align: left;
  min-height: 300px;
  margin: 0 auto;
}

#mentors {
  text-align: center;
  padding: 40px 0;
}

#mentors .card .col-md-4 {
  align-items: flex-end;
  position: relative;
}

#mentors .card img.chess {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
}

#mentors .card img.img-fluid {
  position: absolute;
  top: 10%;
  right: 0;
  width: 90%;
}

section#past .line {
  margin-bottom: 20px;
}

#mentors .card .line {
  width: 30px;
  height: 2px;
  background-color: rgba(17, 17, 17, 0.418);
  margin: 0;
  margin-bottom: 16px;
}

#mentors .card p {
  color: #ec5242;
}

footer {
  background-color: #272a31;
  padding-top: 40px;
  color: #d3d3d3;
  overflow-x: hidden;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;
}

.socials li {
  margin: 0 10px;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #e5e5e5;
  padding: 20px 10%;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  color: #000;
  align-items: center;
  justify-content: space-around;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.header.about {
  background: url('./images/aboutBg.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  padding: 0 10%;
}

section#past {
  text-align: center;
  margin-top: 40px;
}

section#past .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 20px;
}

section#past .bottom img {
  width: 40%;
}

@media screen and (max-width: 500px) {
  .footer-bottom p {
    float: none;
  }

  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #header h2 {
    font-size: 40px;
  }

  #header p {
    width: 90%;
    bottom: 0;
  }

  .topBar {
    display: none;
  }

  .navbar {
    margin-top: 0;
  }

  .container-fluid.container {
    flex-direction: row-reverse;
  }
}
